{{!
Re-usable card for linking to posts
}}

<article class='mds-card {{post_class}}'>
    <a class='mds-card-link' href='{{url}}'>
        <div class='mds-card-content'>
            <span class='mds-card-meta'>
                <time datetime='{{date format='YYYY-MM-DD'}}'>
                    {{date format='D MMM YYYY'}}
                </time>

                <span class='bull'>&bull;</span>
                {{reading_time}}

                {{#has tag="#lang-fr"}}
                <span class='bull'>&bull;</span>
                <span>🇫🇷</span>
                {{/has}}

                {{#has tag='#sponsored-post'}}
                <span class='bull'>&bull;</span>
                <span class='sponsored-label'>Sponsored</span>
                {{/has}}

                {{^has visibility='public'}}
                    <span class='bull'>&bull;</span>
                    {{#has tag="#additional-content"}}
                    <span class='premium-label'>Additional Content</span>
                    {{else has visibility="members"}}
                    <span class='member-label'>Member Only</span>
                    {{else}}
                    <span class='premium-label'>Mindsers Club Only</span>
                    {{/has}}
                {{/has}}
            </span>
            <h2 class='mds-card-title' {{#has tag="#lang-fr"}}lang="fr" {{/has}}>{{title}}</h2>
            <p {{#has tag="#lang-fr"}}lang="fr" {{/has}}>{{excerpt}}...</p>
            <strong class='cta'>
                Read more &rarr;
            </strong>
        </div>
    </a>
</article>