<div class='upgrade-cta' lang='en'>
    {{#has visibility='public'}}
        <h2>
            This post is for members only
        </h2>
        <p>
            Join the 100+ developers and entrepreneur, members of our community
            and get access to our library of member-only posts.
        </p>

        <a href='/signup/' class='button'>Become a member</a>
    {{else}}
        {{#has tag='#additional-content'}}
            <h2>
                This free post contains additional content for
                {{#has visibility='tiers'}}
                    {{tiers suffix=''}}
                {{else}}
                    premuim
                {{/has}}
                members only
            </h2>
        {{else}}
            <h2>
                This
                {{#has tag='#newsletter-issue'}}
                    newsletter issue
                {{else}}
                    outstanding post
                {{/has}}
                is for
                {{#has visibility='tiers'}}
                    {{tiers suffix=''}}
                {{else}}
                    premuim
                {{/has}}
                members only
            </h2>
        {{/has}}
        <p>
            Join the 100+ developers and entrepreneur, premium members of our
            community and get full access to our library of private posts and
            additional content.
        </p>

        {{#has visibility='tiers'}}
            <a href='/membership/' class='button'>Become a member</a>
        {{else}}
            {{#has tag='#newsletter-issue'}}
                <a href='/newsletter/' class='plan-link'>See newsletter plans</a>
            {{else}}
                <a href='/membership/' class='plan-link'>See other plans</a>
            {{/has}}

            <a href='javascript:' data-portal='signup/monthly' class='button'>
                Subscribe now!
            </a>
        {{/has}}
    {{/has}}

    <p class='switch'>
        Already a member?
        <a href='/login/'>Log in</a>
    </p>
</div>