{{#if html}}
    {{{html}}}
{{else}}
    <p class='post-restricted-content'>
        {{excerpt}}...
    </p>
{{/if}}
<div class='upgrade-cta' lang='en'>
    {{#has visibility='paid'}}
        {{#has tag='#additional-content'}}
            <h2>
                This free post contains additional content for premium members
                only
            </h2>
        {{else}}
            <h2>
                This
                {{#has tag='#newsletter-issue'}}
                    newsletter issue
                {{else}}
                    outstanding post
                {{/has}}
                is for premium members only
            </h2>
        {{/has}}
        <p>
            Join the 100+ developers and entrepreneur, premium members of our
            community and get full access to our library of private posts and
            additional content.
        </p>
    {{else}}
        <h2>
            This post is for members only
        </h2>
        <p>
            Join the 100+ developers and entrepreneur, members of our community
            and get access to our library of member-only posts.
        </p>
    {{/has}}

    {{#has tag='#newsletter-issue'}}
        <a href='/newsletter/' class='plan-link'>See newsletter plans</a>
    {{else}}
        <a href='/membership/' class='plan-link'>See other plans</a>
    {{/has}}

    <a href='javascript:' data-members-plan='Monthly' class='button'>
        Subscribe now!
    </a>
    <p class='switch'>
        Already a member?
        <a href='/login/'>Log in</a>
    </p>
</div>