<div class='upgrade-cta' lang='fr'>
    {{#has visibility='public'}}
    <h2>
        Cet article est réservé aux membres du blog
    </h2>
    <p>
        Rejoignez les {{total_members}} développeurs et entrepreneurs membres de
        notre communauté et accédez à notre bibliothèque de publications
        réservées aux membres.
    </p>

    <a href='/signup/' class='button'>Devenir membre</a>
    {{else}}
    {{#has tag='#additional-content'}}
    <h2>
        Cet article gratuit contient du contenu supplémentaire pour les
        membres
        {{#has visibility='tiers'}}
        {{tiers suffix='' lastSeparator=" et "}}
        {{else}}
        premuim
        {{/has}}
    </h2>
    {{else}}
    <h2>
        {{#has tag='#newsletter-issue'}}
        Ce numéro de newsletter
        {{else}}
        Cet article génial
        {{/has}}
        est réservé aux membres
        {{#has visibility='tiers'}}
        {{tiers suffix='' lastSeparator=" et "}}
        {{else}}
        premium
        {{/has}}
    </h2>
    {{/has}}
    <p>
        Rejoignez {{total_members}} développeurs et entrepreneurs membres de
        notre communauté, et obtenez un accès complet à notre bibliothèque
        de publications privées et de contenus supplémentaires.
    </p>

    {{#has visibility='tiers'}}
    <a href='/membership/' class='button'>Devenir membre du Mindsers Club</a>
    {{else}}
    {{#has tag='#newsletter-issue'}}
    <a href='/newsletter/' class='plan-link'>Voir les abonnements à
        la newsletter</a>
    {{else}}
    <a href='/membership/' class='plan-link'>Voir les autres
        abonnements</a>
    {{/has}}

    <a href='javascript:' data-portal='signup/monthly' class='button'>
        S'abonnez maintenant!
    </a>
    {{/has}}
    {{/has}}

    <p class='switch'>
        Déjà membre?
        <a href='/login/'>Se connecter</a>
    </p>
</div>