<header class="site-header outer">
    <div class="site-header-content inner">
        <div class="title">
            <a href="https://nathanaelcherrier.com/{{> helpers/lang}}/">
                <img src="{{@site.logo}}" class="logo" alt="MindsersIT logo">
                Nathanaël Cherrier
            </a>
        </div>
        <div class="menu">
            <ul class="nav" role="menu">
                <li role="menuitem" class="search">
                    <span class="label"><i class="fa fa-search"></i></span>
                    <div class="search-popup">
                        <form id="searchbar">
                            <input type="text" name="term" placeholder="{{> helpers/trans text="Type something and hit enter"}}" />
                        </form>
                    </div>
                </li>
                {{#if @site.navigation}}
                <li role="menuitem">
                    Pages
                    {{#post}}
                        {{#has tag="#en"}}
                            {{navigation type="secondary"}}
                        {{else}}
                            {{navigation}}
                        {{/has}}
                    {{/post}}
                    {{^is "post, page"}}
                        {{navigation}}
                    {{/is}}
                </li>
                {{/if}}
                <li role="menuitem">
                    <a href="/{{> helpers/lang}}/newsletters">{{> helpers/trans text="Newsletter"}}</a>
                </li>
                {{#unless @member.paid}}
                <li role="menuitem" class="highlighted">
                    <a href="/{{> helpers/lang}}/pricing">{{> helpers/trans text="Get more"}}</a>
                </li>
                {{/unless}}
            </ul>
        </div>
    </div>
</header>
