<header class="site-header outer">
    <div class="site-header-content inner">
        <div class="title">
            <a href="https://nathanaelcherrier.com/{{> helpers/lang}}/">
                <img src="{{@site.logo}}" class="logo" alt="MindsersIT logo">
                Nathanaël Cherrier
            </a>
        </div>
        <div class="menu">
            <ul class="nav" role="menu">
                <li role="menuitem" class="search">
                    <i class="fa fa-search"></i>
                </li>
                <li role="menuitem">
                    <a href="/{{> helpers/lang}}/pricing">{{> helpers/trans text="Membership"}}</a>
                </li>
                <li role="menuitem" class="more">
                    <i class="fa fa-bars"></i>
                    <div class="sub-menu">
                        <div class="search-bar">
                            <form id="searchbar">
                                <input type="text" name="term" placeholder="{{> helpers/trans text="Type something and hit enter"}}" />
                            </form>
                        </div>
                        <div class="menu-section collections">
                            <p>
                                <a href="/{{> helpers/lang}}/tech/">
                                    <span class="title">
                                        {{> helpers/trans text="Tech posts"}}<br>
                                    </span>
                                    {{> helpers/trans text="All my code/tech related posts"}}
                                </a>
                            </p>
                            <p>
                                <a href="/{{> helpers/lang}}/coffeeshops/">
                                    <span class="title">
                                        {{> helpers/trans text="Coffee Shops"}}<br>
                                    </span>
                                    {{> helpers/trans text="I test coffee shops around the world for you"}}
                                </a>
                            </p>
                            <p>
                                <a href="/{{> helpers/lang}}/business/">
                                    <span class="title">
                                        {{> helpers/trans text="Business posts"}} <span class="premium">premium</span><br>
                                    </span>
                                    {{> helpers/trans text="Posts about my businesses: test and learn approach"}}
                                </a>
                            </p>
                            <p>
                                <a href="/{{> helpers/lang}}/edito/">
                                    <span class="title">
                                        {{> helpers/trans text="Edito"}} <span class="premium">premium</span><br>
                                    </span>
                                    {{> helpers/trans text="Other posts. I blog about what I bother"}}
                                </a>
                            </p>
                            <p>
                                <a href="/{{> helpers/lang}}/newsletters">
                                    <span class="title">
                                        {{> helpers/trans text="Newsletter issues"}} <span class="premium">premium</span><br>
                                    </span>
                                    {{> helpers/trans text="Complete archive. All my awesome newsletter's issues"}}
                                </a>
                            </p>
                            {{#unless @member.paid}}
                            <p>
                                <a class="btn" href="/{{> helpers/lang}}/pricing">{{> helpers/trans text="Get access to my premium content"}}</a>
                            </p>
                            {{/unless}}
                        </div>
                        {{#if @site.navigation}}
                        <div class="menu-section ghost">
                            {{#post}}
                                {{#has tag="#en"}}
                                    {{navigation type="secondary"}}
                                {{else}}
                                    {{navigation}}
                                {{/has}}
                            {{/post}}
                            {{^is "post, page"}}
                                {{navigation}}
                            {{/is}}
                        </div>
                        {{/if}}
                        <div class="menu-section language">
                            <p>
                                <a href="/fr/">{{> helpers/trans text="French"}}</a> • <a href="/en/">{{> helpers/trans text="English"}}</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
