<div class="read-next-tag-related">
    <header class="read-next-card-header">
        {{#primary_tag}}
        <h3 class="read-next-card-header-title"><a href="{{url}}">{{name}}</a></h3>
        {{/primary_tag}}
    </header>
    <div class="read-next-card-content">
        <ul>
            {{#foreach posts}}
            <li><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
        </ul>
    </div>
    <footer class="read-next-card-footer">
        <a href="{{#primary_tag}}{{url}}{{/primary_tag}}">
        {{#primary_post}}{{> helpers/trans text="See all posts"}}{{/primary_post}}<sup>({{meta.pagination.total}})</sup> →
        </a>
    </footer>
</div>