<div class='thanks-cta'>
    {{#has tag='#sponsored-post'}}
        <p>
            {{#has tag='#fr'}}
                Cet article est libre d'accès gratuitement pour tous grâce à la
                générosité de notre sponsor. Découvrez en plus sur ce sponsor en
                fin d'article. Vous souhaitez sponsoriser un article sur
                {{@site.title}}
                ? Contactez-nous à
                <a
                    href='mailto:hello@mindsers.blog'
                    title='Partenariat de sponsoring sur {{@site.title}}'
                    rel='nofollow noreferrer'
                >hello@mindsers.blog</a>
                !
            {{else}}
                This post is free for all to read thanks to the investment our
                sponsor have made in our independent publication. Do you want to
                sponsor a post on
                {{@site.title}}? Please email me at
                <a
                    href='mailto:hello@mindsers.blog'
                    title='Sponsoring partnership on {{@site.title}}'
                    rel='nofollow noreferrer'
                >hello@mindsers.blog</a>!
            {{/has}}
        </p>
    {{else}}
        <p>
            {{#has tag='#fr'}}
                Cet article est libre d'accès pour tous grâce à la générosité
                des abonnés de
                {{@site.title}}
                qui soutiennent notre blog indépendant.
                {{#if @member.paid}}
                    Merci beaucoup de faire partie de cette magnifique aventure
                    en tant que membre premium. Pensez à en parler à vos amis
                    pour que notre communauté puisse continuer à grandir !
                {{else}}
                    Si vous appréciez le contenu que je propose, je vous invite
                    à
                    <a href='/membership/' title='Abonnez-vous !'>vous abonner</a>
                    dès aujourd'hui.
                {{/if}}
            {{else}}
                This post is free for all to read thanks to the investment
                {{@site.title}}'s subscribers have made in our independent
                publication.
                {{#if @member.paid}}
                    Thank you so much for being part of this adventure as a
                    premium member. Please consider sharing the word to your
                    friends, so this community can continue to grow!
                {{else}}
                    If this work is meaningful to you, I invite you to
                    <a href='/membership/' title='Subscribe!'>
                        become a subscriber
                    </a>
                    today.
                {{/if}}
            {{/has}}
        </p>
    {{/has}}
</div>