{{!
Re-usable card for linking to posts
}}

<article class='mds-card mds-thumbnail-card {{post_class}}'>
    <a class='mds-card-link' href='{{url}}'>
        <div class='mds-card-content-container'>
            {{#if feature_image}}
                <img
                    class='mds-card-image'
                    srcset='{{img_url feature_image size='s'}} 300w,
                            {{img_url feature_image size='m'}} 600w,
                            {{img_url feature_image size='l'}} 1000w,
                            {{img_url feature_image size='xl'}} 2000w'
                    sizes='(max-width: 1000px) 400px, 700px'
                    src='{{img_url feature_image size='m'}}'
                    alt='{{title}}'
                />
            {{/if}}
            <div class='mds-card-content'>
                <h2 class='mds-card-title'>{{title}}</h2>
                <p>{{excerpt characters='140'}}...</p>
                <strong class='cta'>
                    Read more &rarr;
                </strong>
            </div>
        </div>
    </a>
</article>