{{!< default}}

{{#contentFor 'styles'}}
    <link rel="stylesheet" type="text/css"  href="{{asset "css/pagination.css"}}" />
{{/contentFor}}

{{#contentFor 'title'}}{{meta_title}}{{/contentFor}}

<div class="mds-page mds-author">
    <div class="mds-container">

        {{#author}}
        <header class="mds-header">
            {{#if profile_image}}
                <img class="mds-author-image" src="{{profile_image}}" alt="{{name}}" />
            {{/if}}

            <h1>{{name}}</h1>
            {{#if bio}}
                <p>{{bio}}</p>
            {{/if}}

            <div class="mds-author-meta">
                <div class="mds-author-links">
                    {{#if website}}
                        <a href="{{website}}" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
                    {{/if}}
                    {{#if twitter}}
                        <a href="{{twitter_url}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                    {{/if}}
                    {{#if facebook}}
                        <a href="{{facebook_url}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                    {{/if}}
                </div>
            </div>

            {{#if cover_image}}
                <img class="mds-page-image" src="{{cover_image}}" alt="{{name}}" />
            {{/if}}
        </header>
        {{/author}}

        <div class="mds-postfeed">
        {{#foreach posts visibility="public"}}
            {{> "card"}}
        {{/foreach}}
        </div>

        {{pagination}}
    </div>
</div>