{{!< default}}

{{#contentFor "lang"}}fr{{/contentFor}}

{{#contentFor "styles"}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/author.css"}}">
{{/contentFor}}

{{> header}}

<section class="list-header">
    <div class="list-header-content">
        {{#author}}
            {{#if profile_image}}
                <p class="profil-pic"><img src="{{profile_image}}" alt="{{name}}'s Picture" /></p>
            {{/if}}
            <h1>{{name}}</h1>
            <h2>
                {{bio}}
            </h2>
            <div class="infos">
                <p class="location">{{location}}</p>
                <p class="posts">
                    {{plural ../pagination.total empty="articles" singular="1 article" plural="% articles"}}
                </p>
                <div class="social-networks">
                    <ul>
                        {{#if twitter}}<li><a href="{{twitter_url twitter}}" rel="nofollow"><img src="{{asset "images/twitter.svg"}}" title="twitter"></a></li>{{/if}}
                        {{#if facebook}}<li><a href="{{facebook_url facebook}}" rel="nofollow"><img src="{{asset "images/facebook.svg"}}" title="facebook"></a></li>{{/if}}
                    </ul>
                </div>
            </div>
        {{/author}}
    </div>
</section>

{{> index/feed}}

{{> footer}}