<html lang="{{@site.lang}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="monetization" content="$ilp.uphold.com/Apm7DzrByBYN" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link role="stylesheet" href="assets/css/main.css" />

    <title>{{meta_title}} | {{@site.title}}</title>

    {{ghost_head}}
  </head>

  <body class="{{body_class}}">
    <div class="site-wrapper">
      {{{body}}}
    </div>

    <script type="module" src="assets/js/index.min.mjs"></script>
    {{ghost_foot}}
  </body>
</html>