{{!< default}}

<section class="list-header">
    <div class="list-header-content">
        <h1 class="list-header-title">{{@site.title}}</h1>
        <h2>{{@site.description}}</h2>
        <div class="infos">
            <div class="social-networks">
                <ul>
                    {{#if @site.twitter}}<li><a href="{{twitter_url}}" rel="nofollow"><img src="{{asset "images/twitter.svg"}}" title="twitter"></a></li>{{/if}}
                    {{#if @site.facebook}}<li><a href="{{facebook_url}}" rel="nofollow"><img src="{{asset "images/facebook.svg"}}" title="facebook"></a></li>{{/if}}
                </ul>
            </div>
        </div>
    </div>
</section>

<main id="site-main" class="site-main outer">
    <div class="inner">
        <section class="post-feeds">
            <h3>French stories</h3>
            {{#get "posts" filter="tags:-hash-en" limit="3"}}
                <div class="feed" lang="fr">
                    {{#foreach posts}}
                        {{> post-card-small}}
                    {{/foreach}}
                    <article class="post-card more-link">
                        <a class="post-card-more-link" href="/fr/">
                            Découvrir les autres articles en Français.
                        </a>
                    </article>
                </div>
            {{/get}}
        </section>
        <section class="post-feeds">
            <h3>English stories</h3>
            {{#get "posts" filter="tags:hash-en" limit="3"}}
                <div class="feed" lang="en">
                    {{#foreach posts}}
                        {{> post-card-small}}
                    {{/foreach}}
                    <article class="post-card more-link">
                        <a class="post-card-more-link" href="/en/">
                            See the other English articles.
                        </a>
                    </article>
                </div>
            {{/get}}
        </section>
    </div>
</main>

{{#contentFor "styles"}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}">
{{/contentFor}}