{{!< default}}

{{#contentFor "lang"}}fr{{/contentFor}}

{{> header-en}}

{{#is 'enlifestyle'}}
    {{> index/title-header title="Lifestyle posts" }}
{{else is 'entech'}}
    {{> index/title-header title="Tech posts" }}
{{else is 'enbusiness'}}
    {{> index/title-header title="Business posts" }}
{{else is 'ennewsletters'}}
    {{> index/title-header title="Newsletter issues" }}
{{else is 'encoffeeshops'}}
    {{> index/title-header title="Coffee Shops"}}
    {{> index/coffeeshops-map english="true"}}
{{else}}
    {{> index/title-header title="Posts"}}
{{/is}}

{{!-- <section class="list-header">
    <div class="list-header-content">
        <h1 class="list-header-title">Posts in English</h1>
        <div class="infos">
            <div class="featured-links">
                <h3>Featured</h3>
                <ul>
                    {{#get "posts" filter="featured:true+tag:hash-en"}}
                        {{#foreach posts limit="3"}}
                            <li><a href="{{url}}">{{title}}</a></li>
                        {{else}}
                            <li>No featured content</li>
                        {{/foreach}}
                    {{/get}}
                </ul>
            </div>
            <div class="social-networks">
                <h3>Social networks</h3>
                <ul>
                    {{#if @site.twitter}}<li><a href="{{twitter_url}}" rel="nofollow"><img src="{{asset "images/twitter.svg"}}" title="twitter"></a></li>{{/if}}
                    {{#if @site.facebook}}<li><a href="{{facebook_url}}" rel="nofollow"><img src="{{asset "images/facebook.svg"}}" title="facebook"></a></li>{{/if}}
                </ul>
            </div>
        </div>
    </div>
</section> --}}

{{> index/feed-en}}

{{> footer-en}}