{{!< default}}

<section class="list-header">
    <div class="list-header-content">
        <h1 class="list-header-title">{{@site.description}}</h1>
        <div class="infos">
            <div class="featured-links">
                <h3>Featured</h3>
                <ul>
                    {{#get "posts" filter="featured:true+tag:hash-en"}}
                        {{#foreach posts limit="3"}}
                            <li><a href="{{url}}">{{title}}</a></li>
                        {{else}}
                            <li>No featured content</li>
                        {{/foreach}}
                    {{/get}}
                </ul>
            </div>
            <div class="social-networks">
                <h3>Social networks</h3>
                <ul>
                    {{#if @blog.twitter}}<li><a href="{{twitter_url}}" rel="nofollow"><img src="{{asset "images/twitter.svg"}}" title="twitter"></a></li>{{/if}}
                    {{#if @blog.facebook}}<li><a href="{{facebook_url}}" rel="nofollow"><img src="{{asset "images/facebook.svg"}}" title="facebook"></a></li>{{/if}}
                </ul>
            </div>
        </div>
    </div>
</section>

<main id="site-main" class="site-main outer">
    <div class="post-feed inner" lang="en">
        {{#foreach posts}}
            {{> post-card-en}}
        {{else}}
            <p class="no-post">No post here</p>
        {{/foreach}}
    </div>
    <div class="post-feed-pagination">
        {{pagination}}
    </div>
</main>
