{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel='stylesheet' type='text/css' href='{{asset 'css/plans.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}Premium Newsletter - {{meta_title}}{{/contentFor}}

{{#contentFor 'meta'}}
<meta
    name="description"
    content="In addition to the blog posts, I try to send to my subscribers
            a more personal paid newsletter each month. This newsletter is
            about my own journey as a developer and entrepreneur. Prices and
            plans are listed below."
/>
{{/contentFor}}

<div class='mds-plans'>
    <div class='mds-container'>
        <header class='mds-header'>
            <h1 class='mds-title'>Mindsers’ Newsletter</h1>
            <p>
                In addition to the blog posts, I try to send to my subscribers a more personal paid newsletter each month.
                This newsletter is about my own journey as a developer and entrepreneur.
            </p>
        </header>
    </div>

    <section class="mds-testimonials">
        <div class="mds-container">
            {{> "testimonials"
                text="I discovered Mindsers on Instagram, and I learned so much since I read his blog (thanks for the C & PHP articles!). The community is the perfect environment to learn new things, come join us !"
                people="Arthur M."
            }}
            {{> "testimonials"
                text="Mindsers' blog is the perfect place to start when learning how to code! Full of good resources and advice."
                people="Maëva C."
            }}
            {{> "testimonials"
                text="Thanks for the blog, there are a lot of great content. I completely agree with what I read here especially in the ＂ Best Practices ＂ section. Keep the good work!"
                people="Yexan"
            }}
            {{> "testimonials"
                text="Super blog de Nath ! Les articles sont bien rédigés et illustrés. Rapides à lire, ils m’ont beaucoup aidé à démystifier certains sujets qui sont abstraits pour les débutants. Les exemples choisis sont pratiques et expliqués simplement. Je recommande à 100 %."
                people="Valérie A."
            }}
        </div>
    </section>

    <section class="mds-plan-grid">
        <div class="mds-container">
            <div class="plan-container">
                <div class="plan-bg">
                    <header>
                        <h2>Monthly Subscription</h2>
                    </header>
                    <section class="plan-body">
                        <ul>
                            <li>💌 Receive the monthly newsletter by email</li>
                            <li>📨 Get complete access to previous issues on the website</li>
                            <li>✊🏽 Support an independent publication</li>
                            <li class="eco"><strong>♻️ 1.5% of your subscription</strong> is reserved to help removing CO₂ from the atmosphere.</li>
                        </ul>
                    </section>
                    <section class="plan-price">
                        <a href="javascript:" data-members-plan="Monthly"class="button highlighted">{{price @price.monthly}} / month</a>
                    </section>
                </div>
            </div>
            <div class="plan-container">
                <div class="plan-bg">
                    <header>
                        <h2>Yearly Subscription</h2>
                    </header>
                    <section class="plan-body">
                        <ul>
                            <li>💌 Receive the monthly newsletter by email</li>
                            <li>📨 Get complete access to previous issues on the website</li>
                            <li>✊🏽 Support an independent publication</li>
                            <li class="eco"><strong>♻️ 1.5% of your subscription</strong> is reserved to help removing CO₂ from the atmosphere.</li>
                            <li><strong>⚡️ 1 quick payment instead of 12!</strong></li>
                            <li><strong>💸 Extra 17% discount</strong></li>
                        </ul>
                    </section>
                    <section class="plan-price">
                        <a href="javascript:" data-members-plan="Yearly" class="button highlighted">{{price @price.yearly}} / year</a>
                    </section>
                </div>
                <div class="plan-favourite-notice">
                    <div class="arrow">
                        <div class="curve"></div>
                    </div>
                    <div class="notice">
                        My favourite readers’ option
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mds-issues">
        <div class="mds-container">
            <p>
                Subscribe now and get access to all the previous issues:
            </p>
            <div class="mds-postfeed">
            {{#get "posts" filter="tag:hash-en+tag:hash-newsletter-issue" limit="5"}}
                {{#foreach posts}}
                    {{> "card"}}
                {{else}}
                    <p class="no-post">No issues here</p>
                {{/foreach}}
            {{/get}}
            <p class="more"><a href="/issues/" class="button primary">Browse all</a></p>
            </div>
        </div>
    </section>

    <section class='mds-faq'>
        <div class='mds-container'>
            <h2>Frequently Asked Questions</h2>

            <div class='mds-faq-grid'>
                <div>
                    <h3>Will I be able to change or cancel my plan?</h3>
                    <p>
                        Premium plans are paid monthly or yearly, and can be
                        updated, changed, or cancelled any time by logging into
                        your account and clicking a button. No contracts, no
                        nonsense.
                    </p>
                </div>
                <div>
                    <h3>I still have questions, how can I contact you?</h3>
                    <p>
                        If you need something else, you can reach out by sending
                        an email to <a
                            href='mailto:hello@mindsers.blog'
                            title='Contact support team'
                            rel='nofollow noreferrer'
                        >hello@mindsers.blog</a>, or message
                        <a
                            href='https://twitter.com/MindsersCodes'
                            title='Twitter'
                            target='_blank'
                            rel='nofollow noreferrer'
                        >@MindsersCodes</a> — and I'll do my best to get back to you
                        as soon as possible.
                    </p>
                </div>
                <div>
                    <h3>Do I have to pay twice for the newsletter and the
                        private blog posts?</h3>
                    <p>
                        No, the premium membership contains the newsletter issues and
                        the full blog posts library. You do <strong>not</strong> have to pay
                        twice.
                    </p>
                </div>
                <div>
                    <h3>How many emails will I get?</h3>
                    <p>
                        One issue of the newsletter per month. With the newsletter you'll also get a maximum
                        of 2 notification emails per week for the blog posts.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
