{{!< default}}

{{#contentFor 'styles'}}
    <link rel='stylesheet' type='text/css' href='{{asset 'css/pages.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}{{meta_title}} - {{@site.title}}{{/contentFor}}

{{#post}}
<article class="mds-page {{post_class}}">

    <header class="mds-header mds-canvas">
        <h1 class="mds-title">{{title}}</h1>
    </header>

    <div class="mds-content mds-canvas" {{#has tag="#fr"}}lang="fr"{{/has}}>
        {{content}}
    </div>
</article>
{{/post}}

{{#contentFor "scripts"}}
    <script src="https://unpkg.com/shiki" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="{{asset 'js/post.js'}}"></script>
{{/contentFor}}