{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel="prefetch" href="https://mindsers.blog/">
    <link rel="prerender" href="https://mindsers.blog/">

    <link rel='stylesheet' type='text/css' href='{{asset 'css/pages.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}{{meta_title}} - {{@site.title}}{{/contentFor}}

{{#post}}
<article class="mds-page {{post_class}}">

    {{#match @page.show_title_and_feature_image}}
    <header class="mds-header mds-canvas">
        <h1 class="mds-title">{{title}}</h1>
    </header>
    {{/match}}

    <div class="mds-content mds-canvas" {{#has tag="#lang-fr"}}lang="fr"{{/has}}>
        {{content}}
    </div>
</article>
{{/post}}

{{#contentFor "scripts"}}
    <script src="https://unpkg.com/shiki" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="{{asset 'js/post.js'}}"></script>
{{/contentFor}}