{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel='stylesheet' type='text/css' href='{{asset 'css/plans.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}Premium Membership - {{meta_title}}{{/contentFor}}

{{#contentFor 'meta'}}
<meta
    name="description"
    content="{{@site.title}} is a premium publication about coding, tech world,
            entrepreneurship, remote work and the life of a mordern
            developer. Members get access to weekly new content and a
            monthly newsletter. Prices and plans are listed below."
/>
{{/contentFor}}

<div class='mds-plans'>
    <div class='mds-container'>
        <header class='mds-header'>
            <h1 class='mds-title'>Mindsers Club</h1>
            <p>
                {{@site.title}} is an independent publication about coding and coders. This includes topics like tech world,
                entrepreneurship, remote work, specialty coffee and developer lifestyle. Most of the blog posts are public and free for all.
            </p>
            <p>
                But we know that tutorials and articls are not enough to quickly grow your skillset as a developer.
                So, we created Mindsers Club to bring courses, community and personal coaching to accelerate your growth.
            </p>
            <p>
                Thank you for considering subscribing. Anyone is welcome in the Mindsers Club!
            </p>
        </header>
    </div>

    <section class='mds-plan-grid'>
        <div class='mds-container'>
            <label  class="mds-toggle-container">
                Monthly
                <input id="yearly-switch" type="checkbox" checked>
                <div class="mds-toggle">
                    <div class="mds-toggle-handle"></div>
                </div>
                Yearly
            </label>
        </div>
        {{#get "tiers" include="monthly_price,yearly_price,benefits" limit="all" as |tiers|}}
        <div class='mds-container' data-plan="yearly">
            {{! Loop through our tiers collection }}
            {{#foreach tiers}}
            {{#match slug 'free'}}
            <div class='plan-container'>
                <div class='plan-bg'>
                    <header>
                        <h2>Newsletter</h2>
                        <span class='monthly-plan-data'>€0 <span>/ month</span></span>
                        <span class='yearly-plan-data'>€0 <span>/ year</span></span>
                    </header>

                    {{#if benefits}}
                    <section class='plan-body'>
                        <ul>
                        {{#foreach benefits as |benefit|}}
                            <li>✓ {{benefit}}</li>
                        {{/foreach}}
                        </ul>
                    </section>
                    {{/if}}

                    <section class='plan-price'>
                        <a href="#/portal/signup/free" class='button'>Subscribe now</a>
                        <p class="notices">No spam ever. Unsubscribe in a single click at any time.</p>
                    </section>
                </div>
            </div>

            {{else}}

            <div class='plan-container highlighted'>
                <div class='plan-bg'>
                    <header>
                        <h2>{{name}}</h2>
                        {{#if monthly_price}}
                            <span class='monthly-plan-data'>{{price monthly_price currency=currency}} <span>/ month</span></span>
                        {{/if}}
                        {{#if yearly_price}}
                            <span class='yearly-plan-data'>{{price yearly_price currency=currency}} <span>/ year</span></span>
                        {{/if}}
                    </header>

                    <section class='plan-body'>
                        <ul>
                        {{#if benefits}}
                            {{#foreach benefits as |benefit|}}
                                <li>✓ {{benefit}}</li>
                            {{/foreach}}
                        {{/if}}
                        {{#if monthly_price}}
                            <li>✓ No advertising on the website</li>
                            <li class="eco">✓ <strong>We give back 1.5% of your subscription to help removing CO₂ from the atmosphere.</strong></li>
                        {{/if}}
                        {{#if yearly_price}}
                            <li class='yearly-plan-data'>✓ <strong>Pay 1 quick payment instead of 12!</strong></li>
                            <li class='yearly-plan-data'>✓ <strong>Get an extra <span class="discount-calculation" data-cost-yearly="{{price yearly_price}}" data-cost-monthly="{{price monthly_price}}"></span>% discount</strong></li>
                        {{/if}}
                        </ul>
                    </section>

                    <section class='plan-price'>
                    {{#if monthly_price}}
                        <a
                            href="javascript:"
                            class='button highlighted monthly-plan-data'
                            data-portal="signup/{{id}}/monthly"
                            data-members-cancel="/membership/"
                        >
                            Subscribe now
                        </a>
                    {{/if}}
                    {{#if yearly_price}}
                        <a
                            href="javascript:"
                            class='button highlighted yearly-plan-data'
                            data-portal="signup/{{id}}/yearly"
                            data-members-cancel="/membership/"
                        >
                            Subscribe now
                        </a>
                    {{/if}}
                        <p class="notices">No spam ever. Unsubscribe in a single click at any time.</p>
                    </section>
                </div>
                {{#match id @custom.favourite_tier_id}}
                <div class='plan-favourite-notice'>
                    <div class='arrow'>
                        <div class='curve'></div>
                    </div>
                    <div class='notice'>
                        My favourite readers’ option
                    </div>
                </div>
                {{/match}}
            </div>
            {{/match}}
            {{/foreach}}
        </div>
        {{/get}}
        <script>
            const spans = document.querySelectorAll('.discount-calculation')

            for(const span of spans) {
                const discounted = span.dataset.costYearly / 100
                const yearly = (span.dataset.costMonthly / 100) * 12

                const discount = 100 * (yearly - discounted) / yearly

                if (discount == 0) {
                    span.parentElement.parentElement.remove()
                    continue
                }

                span.textContent = Math.ceil(discount)
            }

            const toggle = document.getElementById('yearly-switch')
            const plans = document.querySelectorAll('.mds-plan-grid .mds-container')
            toggle.addEventListener('change', event => {
                if (event.target.checked) {
                    for(const plan of plans) {
                        plan.dataset.plan = 'yearly'
                    }

                    return
                }

                for(const plan of plans) {
                    plan.dataset.plan = 'monthly'
                }
            })
        </script>
    </section>

    {{!-- <section class='mds-patreon'>
        <div class='mds-container'>
            <h2>Early Birds Discount</h2>
            <p>
                The first people who decide to support us and subcribe are even more valuable for us.
            </p>
            <p>
                To thank those who believe in this project (helping developers with content, courses and products made specifically for them),
                each subscriber can benefit from a<br/> <strong>40% discount off the "Full Mindsers Blog" plan</strong> until we reach the 100th private blog post of the library.
            </p>
            <p>
                <a
                    href='/early-birds'
                    class='button patreon'
                    rel='nofollow noreferrer'
                >Get my 40% discount now!</a>
            </p>
        </div>
    </section> --}}

    <section class="mds-testimonials">
        <div class="mds-container">
            {{> "testimonials"
                text="I discovered Mindsers on Instagram, and I learned so much since I read his blog (thanks for the C & PHP articles!). The community is the perfect environment to learn new things, come join us !"
                people="Arthur M."
            }}
            {{> "testimonials"
                text="Mindsers' blog is the perfect place to start when learning how to code! Full of good resources and advice."
                people="Maëva C."
            }}
            {{> "testimonials"
                text="Thanks for the blog, there are a lot of great content. I completely agree with what I read here especially in the ＂ Best Practices ＂ section. Keep the good work!"
                people="Yexan"
            }}
            {{> "testimonials"
                text="Super blog de Nath ! Les articles sont bien rédigés et illustrés. Rapides à lire, ils m’ont beaucoup aidé à démystifier certains sujets qui sont abstraits pour les débutants. Les exemples choisis sont pratiques et expliqués simplement. Je recommande à 100 %."
                people="Valérie A."
            }}
        </div>
    </section>

    <section class='mds-eco'>
        <div class='mds-container'>
            <p>
                Our goal at Mindsers Blog is to act positively on coders’ life
                but we want to act positively on our planet’s life too.<br />
                Using Stripe Climate we contribute 1.5% of each premium
                subscription to help scale emerging carbon removal technologies.<br
                />
            </p>
            <p>
                <a
                    href='https://stripe.com/climate'
                    class='button secondary'
                    target='_blank'
                    rel='nofollow noreferrer'
                >Learn more about Stripe Climate</a>
            </p>
        </div>
    </section>

    <section class='mds-faq'>
        <div class='mds-container'>
            <h2>Frequently Asked Questions</h2>

            <div class='mds-faq-grid'>
                <div>
                    <h3>Will I be able to change or cancel my plan?</h3>
                    <p>
                        Premium plans are paid monthly or yearly, and can be
                        updated, changed, or cancelled any time by logging into
                        your account and clicking a button. No contracts, no
                        nonsense.
                    </p>
                </div>
                <div>
                    <h3>I still have questions, how can I contact you?</h3>
                    <p>
                        If you need anything else, you can reach out by sending
                        an email to
                        <a
                            href='mailto:hello@mindsers.blog'
                            title='Contact support team'
                            rel='nofollow noreferrer'
                        >hello@mindsers.blog</a>, or message
                        <a
                            href='https://twitter.com/MindsersCodes'
                            title='Twitter'
                            target='_blank'
                            rel='nofollow noreferrer'
                        >@MindsersCodes</a>
                        — and I'll do my best to get back to you as soon as
                        possible.
                    </p>
                </div>
                <div>
                    <h3>What are the topics of the posts?</h3>
                    <p>
                        Mindsers Blog is a publication dedicated to Software Developers. The blog posts are about
                        everything that can help coders improve their hard and soft skills, lifestyle, etc.
                    </p>
                    <p>
                        Even if the existing blog posts are mainly about coding, I share a lot on other topics too
                        (business, entrepreneurship, social sciences, ethic in tech, etc.).
                    </p>
                </div>
                <div>
                    <h3>I saw there are issues in English and in French. Will I receive both?</h3>
                    <p>
                        By default, no. Since the blog's main language is English, you'll receive post in English only. If you want to change the languages you receive by email,
                        you can do it on your profile page. It is possible to uncheck the emails you don't want to receive anymore from there.
                    </p>
                    <p>
                        Whatever your choice is, you will still have access to the blog post library on the blog in both languages.
                    </p>
                </div>
                <div>
                    <h3>How many emails will I get?</h3>
                    <p>
                        A maximum of 2 emails per week. It can be less, it won't be more.
                    </p>
                </div>
                <div>
                    <h3>Are there other ways to support your work?</h3>
                    <p>
                        Yes. If you only want to do a one-time donation to support my work you
                        can look at the crypto address in the footer.
                        Otherwise the default subscription is provided and secured by Stripe.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
