{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel='stylesheet' type='text/css' href='{{asset 'css/plans.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}Premium Membership - {{meta_title}}{{/contentFor}}

{{#contentFor 'meta'}}
<meta
    name="description"
    content="{{@site.title}} is a premium publication about coding, tech world,
            entrepreneurship, remote work and the life of a mordern
            developer. Members get access to weekly new content and a
            monthly newsletter. Prices and plans are listed below."
/>
{{/contentFor}}

<div class='mds-plans'>
    <div class='mds-container'>
        <header class='mds-header'>
            <h1 class='mds-title'>Mindsers' Blog Premium Membership</h1>
            <p>
                {{@site.title}} is a premium publication about coding, tech world,
                entrepreneurship, remote work and the life of a mordern
                developer.
                </p><p>
                I write free tech content to help developer from all levels to improve themself.
                But other kind of content are available on this blog too: if you're like me
                and love the remote life, the coffee ceremonial or building businesses, this premium subscription is for you!
            </p>
        </header>
    </div>

    <section class='mds-plan-grid'>
        <div class='mds-container'></div>
        {{#get "tiers" include="monthly_price,yearly_price,benefits" limit="all" as |tiers|}}
        <div class='mds-container' data-plan="yearly">
            {{! Loop through our tiers collection }}
            {{#foreach tiers}}
            {{#match slug 'free'}}
            <div class='plan-container'>
                <div class='plan-bg'>
                    <header>
                        <h2>{{name}}</h2>
                    </header>

                    {{#if benefits}}
                    <section class='plan-body'>
                        <ul>
                        {{#foreach benefits}}
                            <li>✓ {{name}}</li>
                        {{/foreach}}
                        </ul>
                    </section>
                    {{/if}}

                    <section class='plan-price'>
                        <a href="/signup/" class='button'>Subscribe now</a>
                        <p class="notices">No spam ever. Unsubscribe in a single click at any time.</p>
                    </section>
                </div>
            </div>

            {{else}}

            <div class='plan-container highlighted'>
                <div class='plan-bg'>
                    <header>
                        <h2>{{name}}</h2>
                        {{#if monthly_price}}
                            <span class='monthly-plan-data'>{{price monthly_price}} <span>/ month</span></span>
                        {{/if}}
                        {{#if yearly_price}}
                            <span class='yearly-plan-data'>{{price yearly_price}} <span>/ year</span></span>
                        {{/if}}
                    </header>

                    {{#if benefits}}
                    <section class='plan-body'>
                        <ul>
                        {{#foreach benefits}}
                            <li>✓ {{name}}</li>
                        {{/foreach}}

                        {{#if monthly_price}}
                            <li>✓ No advertising on the website</li>
                            <li class="eco">✓ <strong>We give back 1.5% of your subscription to help removing CO₂ from the atmosphere.</strong></li>
                        {{/if}}
                        {{#if yearly_price}}
                            <li class='yearly-plan-data'>✓ <strong>Pay 1 quick payment instead of 12!</strong></li>
                            <li class='yearly-plan-data'>✓ <strong>Get an extra <span class="discount-calculation" data-cost-yearly="{{yearly_price.amount}}" data-cost-monthly="{{monthly_price.amount}}"></span>% discount</strong></li>
                        {{/if}}
                        </ul>
                    </section>
                    {{/if}}

                    <section class='plan-price'>
                    {{#if monthly_price}}
                        <a href="javascript:" class='button highlighted monthly-plan-data' data-members-plan={{monthly_price.id}}>Subscribe now</a>
                    {{/if}}
                    {{#if yearly_price}}
                        <a href="javascript:" class='button highlighted yearly-plan-data' data-members-plan={{yearly_price.id}}>Subscribe now ({{price yearly_price}})</a>
                    {{/if}}
                        <p class="notices">No spam ever. Unsubscribe in a single click at any time.</p>
                    </section>
                </div>
            </div>
            {{/match}}
            {{/foreach}}
        </div>
        {{/get}}
        <script>
            const spans = document.querySelectorAll('.discount-calculation')

            for(const span of spans) {
                const discounted = span.dataset.costYearly / 100
                const yearly = (span.dataset.costMonthly / 100) * 12

                const discount = 100 * (yearly - discounted) / yearly

                if (discount == 0) {
                    span.parentElement.parentElement.remove()
                    continue
                }

                span.textContent = discount.toFixed(0)
            }
        </script>
    </section>

    <section class='mds-patreon'>
        <div class='mds-container'>
            <p>
                Patreon supporters can get full access to the premium content
                depending on their Patreon tier.<br />
                You only have to login using the same address as your Patreon
                account.
            </p>
            <p>
                If the plans listed here aren't convenient for you,<br />
                you can support our independent publication using Patreon and
                giving whatever you want.
            </p>
            <p>
                <a
                    href='https://www.patreon.com/mindsers'
                    class='button patreon'
                    target='_blank'
                    rel='nofollow noreferrer'
                >Support on Patreon</a>
            </p>
        </div>
    </section>

    <section class="mds-testimonials">
        <div class="mds-container">
            {{> "testimonials"
                text="I discovered Mindsers on Instagram, and I learned so much since I read his blog (thanks for the C & PHP articles!). The community is the perfect environment to learn new things, come join us !"
                people="Arthur M."
            }}
            {{> "testimonials"
                text="Mindsers' blog is the perfect place to start when learning how to code! Full of good resources and advice."
                people="Maëva C."
            }}
            {{> "testimonials"
                text="Thanks for the blog, there are a lot of great content. I completely agree with what I read here especially in the ＂ Best Practices ＂ section. Keep the good work!"
                people="Yexan"
            }}
            {{> "testimonials"
                text="Super blog de Nath ! Les articles sont bien rédigés et illustrés. Rapides à lire, ils m’ont beaucoup aidé à démystifier certains sujets qui sont abstraits pour les débutants. Les exemples choisis sont pratiques et expliqués simplement. Je recommande à 100 %."
                people="Valérie A."
            }}
        </div>
    </section>

    <section class='mds-eco'>
        <div class='mds-container'>
            <p>
                Our goal at Mindsers Blog is to act positively on coders’ life
                but we want to act positively on our planet’s life too.<br />
                Using Stripe Climate we contribute 1.5% of each premium
                subscription to help scale emerging carbon removal technologies.<br
                />
            </p>
            <p>
                <a
                    href='https://stripe.com/climate'
                    class='button secondary'
                    target='_blank'
                    rel='nofollow noreferrer'
                >Learn more about Stripe Climate</a>
            </p>
        </div>
    </section>

    <section class='mds-faq'>
        <div class='mds-container'>
            <h2>Frequently Asked Questions</h2>

            <div class='mds-faq-grid'>
                <div>
                    <h3>Will I be able to change or cancel my plan?</h3>
                    <p>
                        Premium plans are paid monthly or yearly, and can be
                        updated, changed, or cancelled any time by logging into
                        your account and clicking a button. No contracts, no
                        nonsense.
                    </p>
                </div>
                <div>
                    <h3>I still have questions, how can I contact you?</h3>
                    <p>
                        If you need something else, you can reach out by sending
                        an email to
                        <a
                            href='mailto:hello@mindsers.blog'
                            title='Contact support team'
                            rel='nofollow noreferrer'
                        >hello@mindsers.blog</a>, or message
                        <a
                            href='https://twitter.com/MindsersCodes'
                            title='Twitter'
                            target='_blank'
                            rel='nofollow noreferrer'
                        >@MindsersCodes</a>
                        — and I'll do my best to get back to you as soon as
                        possible.
                    </p>
                </div>
                <div>
                    <h3>How many emails will I get?</h3>
                    <p>
                        A maximum of 2 notification emails per week for the blog
                        posts. You'll also get one email per month for the
                        newsletter.
                    </p>
                </div>
                <div>
                    <h3>Do I have to pay twice for the newsletter and the
                        private blog posts?</h3>
                    <p>
                        No, the premium membership contains the newsletter
                        issues and the full blog posts library. You do
                        <strong>not</strong>
                        have to pay twice.
                    </p>
                </div>
                <div>
                    <h3>What are the topics of the posts?</h3>
                    <p>
                        Even if the public blog posts are focused on coding, I
                        share a lot on other topics in the private ones
                        (business, entrepreneurship, social sciences, ethic,
                        etc.).
                    </p>
                </div>
                <div>
                    <h3>Are there other ways to support your work?</h3>
                    <p>
                        Yes. If you only want to donate to support my work you
                        can look at
                        <a
                            href='https://nathanaelcherrier.dev/fr/support/'
                        >nathanaelcherrier.dev/en/support/</a>
                        but only Patreon will give you access to the blog
                        membership. Otherwise the default subscription is
                        provided and secured by Stripe.
                    </p>
                </div>

            </div>
        </div>
    </section>
</div>
