{{!< default}}

<main id="site-main" class="site-main outer">
    <div class="inner">
        {{#post}}
        <article  class="post-full {{post_class}}">
            <header  class="post-full-header">
                <div class="post-full-header-content">
                    <div class="infos upper">
                        <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
                        {{#has tag="sponsored" author="value"}}
                            <div class="sponsored-tag">sponsored</div>
                        {{/has}}
                        <p class="post-full-meta-author">
                            {{#has author="count:>1"}}
                                This post was a collaboration between {{authors}}
                            {{else}}
                                Written by {{authors}}
                            {{/has}}
                        </p>
                    </div>
                    <h1 class="post-full-title">{{title}}</h1>
                    <div class="infos lower">
                        <div class="post-full-meta-tags">
                            <p>Published in {{tags}}</p>
                            <p></p>
                        </div>
                        <div class="post-full-meta-share">
                            <p>
                                Share this
                            </p>
                            <p>
                                <a class="floating-header-share-tw" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                                    onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
                                    twitter
                                </a>
                                <a class="floating-header-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                                    onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
                                    facebook
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </header>

            <section class="post-full-content">
                {{content}}
            </section>

            {{#if @labs.subscribers}}
            <section class="subscribe-form">
                <h3 class="subscribe-form-title">Subscribe to {{@blog.title}}</h3>
                <p>Get the latest posts delivered right to your inbox</p>
                {{subscribe_form placeholder="youremail@example.com"}}
            </section>
            {{/if}}

            <footer class="post-full-footer"></footer>
        </article>
        {{/post}}
    </div>
</main>

{{#contentFor "scripts"}}
    <script src="/assets/js/prism.js"></script>
{{/contentFor}}

{{#contentFor "styles"}}
    <link rel="stylesheet" href="/assets/css/prism.css">
{{/contentFor}}
