{{!< default}}

{{#contentFor 'styles'}}
    <link rel='stylesheet' type='text/css' href='{{asset 'css/post.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}{{meta_title}} - {{@site.title}}{{/contentFor}}

{{#post}}

{{#contentFor 'htmlLang'}}{{#has tag="#fr"}}fr{{else}}en{{/has}}{{/contentFor}}

{{#contentFor 'meta'}}
    <link rel="alternate" hreflang="{{#has tag="#fr"}}fr{{else}}en{{/has}}" href="{{@site.url}}{{url}}" />
{{/contentFor}}

<article class="mds-article {{post_class}}">

    <header class="mds-header mds-canvas">
        <div class="featured">
            {{#if feature_image}}
            <img class="mds-feature-image"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 1000px) 1000px, 2000px"
                loading="lazy"
                src="{{img_url feature_image size="xl"}}"
                alt="{{title}}"
            />
            {{/if}}
        </div>
        <div class="summary">
            <h1 class="mds-title" {{#has tag="#fr"}}lang="fr"{{/has}}>{{title}}</h1>

            {{#if custom_excerpt}}
            <p class="mds-excerpt" {{#has tag="#fr"}}lang="fr"{{/has}}>{{custom_excerpt}}</p>
            {{/if}}

            <p class="mds-post-meta">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                <span class="bull">&bull;</span> {{reading_time}}
            </p>
        </div>
    </header>

    <div class="mds-share">
        <a class="button rounded primary" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank" rel="nofollow noreferrer">
            {{> "icons/facebook"}}
        </a>
        <a class="button rounded primary" href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{title}}" target="_blank" rel="nofollow noreferrer">
            {{> "icons/twitter"}}
        </a>
        <a class="button rounded primary" href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}" target="_blank" rel="nofollow noreferrer">
            {{> "icons/linkedin"}}
        </a>
    </div>

    <div class="mds-content mds-canvas" {{#has tag="#fr"}}lang="fr"{{/has}}>

        {{content}}

        {{#if access}}
            {{#unless @member}}
                {{> "notification-cta"}}
            {{/unless}}

            {{#has tag="#fr"}}
            <p class="mds-auto-content">
                Si vous avez des questions ou des remarques/conseils,
                n'hésitez pas à laisser un commentaire plus bas ! Je serais ravis de vous lire.
                Et si vous aimez l'article, n'oubliez pas de le partager avec vos amis.
            </p>
            {{else}}
            <p class="mds-auto-content">
                If you have any questions or advices, please create a comment below!
                I'll be really glad to read you.
                Also if you like this post, don't forget to share it with your friends.
                It helps a lot!
            </p>
            {{/has}}
        {{/if}}
    </div>

    <footer class="mds-footer mds-canvas">
        <hr />
        <div class="mds-post-authors">
            Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}
        </div>
        <hr>
        {{#if @member.paid}}
        <div id='commento'></div>
        {{else}}
        <div class="mds-comments-fallback">
            The comment section is only available for paying subscribers.
        </div>
        {{/if}}
    </footer>
</article>

<aside class="mds-readmore">
    <div class="mds-readmore-inner mds-container">
        <div class="mds-readmore-next">
            {{#next_post}}
            <a class="pagination-link" href="{{url}}">
                &lsaquo;&nbsp;<h4>{{title}}</h4>
            </a>
            {{/next_post}}
        </div>
        <div class="mds-readmore-prev">
            {{#prev_post}}
            <a class="pagination-link" href="{{url}}">
                <h4>{{title}}</h4>&nbsp;&rsaquo;
            </a>
            {{/prev_post}}
        </div>
    </div>
</aside>

{{/post}}

{{#contentFor "scripts"}}
    <script src="https://unpkg.com/shiki" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="{{asset 'js/post.js'}}"></script>
    {{#if @member.paid}}
    <script defer src="https://commento.mindsers.blog/js/commento.js"></script>
    {{/if}}
{{/contentFor}}