{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'title'}}Exclusive premium content - {{meta_title}}{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel="stylesheet" type="text/css"  href="{{asset "css/premium_content.css"}}" />
{{/contentFor}}

<div class="mds-page">
    <div class="mds-container">
        <header class="mds-header">
            <h1 class="mds-title">Exclusive premium content list</h1>
            <p>
                Premium members of {{@site.title}} get access to a growing list of exclusive additional content they can use
                to learn more or get more entertained. Find them all grouped on this page without pagination (like a huge sitemap).
            </p>
            <p>
                {{#unless @member.paid}}
                    <a class="button highlighted" href="/membership/">Subscribe !</a>
                {{/unless}}
            </p>
        </header>

        {{#get "posts" filter="visibility:paid+tag:-[hash-newsletter-issue,hash-additional-content,hash-email]" include="tags"}}
        <section>
            <p id="premium-blog-posts" class="section-title">📚 <span>Exclusive posts for Premium members</span></p>
            <div class="mds-postfeed">
            {{#foreach posts}}
                {{> "card"}}
            {{else}}
                    <p class="no-post">No posts here</p>
            {{/foreach}}
            </div>
        </section>
        {{/get}}

        {{#get "posts" filter="tag:hash-newsletter-issue" include="tags"}}
        <section>
            <p id="premium-newsletter-issue" class="section-title">📫 <span>Newsletter issues for Premium members</span></p>
            <div class="mds-postfeed">
            {{#foreach posts}}
                {{> "card"}}
            {{else}}
                    <p class="no-post">No issues here</p>
            {{/foreach}}
            </div>
        </section>
        {{/get}}

        {{#get "posts" filter="tag:hash-additional-content" include="tags"}}
        <section>
            <p id="exclusive-additionnal-content" class="section-title">🎭 <span>Free post + additional content for Premium members</span></p>
            <div class="mds-postfeed">
            {{#foreach posts}}
                {{> "card"}}
            {{else}}
                    <p class="no-post">No posts here</p>
            {{/foreach}}
            </div>
        </section>
        {{/get}}
    </div>
</div>