{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'meta'}}
    <meta name="robots" content="noindex" />
{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel='stylesheet' type='text/css' href='{{asset 'css/profile.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}Your Account - {{meta_title}}{{/contentFor}}

<div class='mds-profile'>
    <div class='mds-container'>
    {{#if @member}}
        {{! Logged in, not paying: Link to checkout }}
        <header class="mds-header">
            <div>
                <h1>Your profile</h1>
            {{#if member.paid}}
                <p>
                    Hello! You have an active {{@site.title}} account with full
                    access to all aeras and features. Get in touch if have any problems or
                    need some help getting things updated (like email language),
                    and thanks for subscribing.
                </p>
            {{else}}
                <p>
                    Hey!
                    You are subscribed to free updates from
                    {{@site.title}}, but doesn't have a premium membership to
                    unlock full access. Get in touch if have any problems or
                    need some help getting things updated (like email language),
                    and thanks for being part of the community.
                </p>
            {{/if}}
            </div>
            <div class="avatar">
                <a
                    href="https://gravatar.com/emails/"
                    title='Update your profile picture on Gravatar'
                    rel='nofollow noreferrer'
                >
                {{> "icons/profile"}}
                {{#if @member.avatar_image}}
                    <img src='{{@member.avatar_image}}' />
                {{/if}}
                </a>
            </div>
        </header>
        <section class="infos">
            <h2>Personal data</h2>
            <p><label>Name</label>: {{@member.name}}</p>
            <p><label>Email</label>: {{@member.email}}</p>
            {{#has label="french"}}
            french
            {{/has}}
            <a href="javascript:" data-members-edit-billing data-members-success="/profile/" data-members-cancel="/profile/">Edit billing info</a>
        </section>
        <section class="subscriptions">
            <h2>Subscriptions</h2>
        {{#foreach @member.subscriptions}}
            <div class="subscription">
                {{#if cancel_at_period_end}}
                <p class="summary">
                    <strong class="subscription-expiration-warning">Your subscription will expire on {{date current_period_end format="DD MMM YYYY"}}.</strong> If you change your mind in the mean time you can turn auto-renew back on to continue your subscription.
                </p>
                {{/if}}
                <div class="subscriber-details">
                <div class="subscriber-detail">
                    <label class="subscriber-detail-label">Email address</label>
                    <span class="subscriber-detail-content">{{@member.email}}</span>
                </div>
                <div class="subscriber-detail">
                    <label class="subscriber-detail-label">Your plan</label>
                    <span class="subscriber-detail-content">{{price plan}}/{{plan.interval}}</span>
                </div>
                <div class="subscriber-detail">
                    <label class="subscriber-detail-label">Card</label>
                    <span class="subscriber-detail-content">**** **** **** {{default_payment_card_last4}}</span>
                </div>
                <div class="subscriber-detail">
                    <label class="subscriber-detail-label">
                    {{#if cancel_at_period_end}}
                        Expires
                    {{else}}
                        Next bill date
                    {{/if}}
                    </label>
                    <span class="subscriber-detail-content">{{date current_period_end format="DD MMM YYYY"}}</span>
                </div>
                </div>
                <div class="actions">
                    {{cancel_link class="button patreon subscription-cancel"}}
                </div>
            </div>
        {{else}}
            <div class="fallback">
                <p>No subscription can be found for your account.</p>
                <p>
                    Join our premium members and get full access to private posts,
                    a monthly newsletter and an awesome community of coders and
                    entrepreneurs!
                </p>
                <a  href='/membership/'>See plans</a>&nbsp; &nbsp;
                <a class='button highlighted' href='javascript:' data-members-plan='Monthly'>
                    Subscribe now!
                </a>
            </div>
        {{/foreach}}
        </section>
        <hr class="section-separator"/>
        <section>
            <h2>All the perks from your subscription:</h2>
        </section>
        <section class="profile-grid">
            <div>
                <h2>VIP answers to your questions</h2>
                {{#if @member.paid}}
                <p>
                    As part of your premium membership, you can send me a message
                    and be confident you'll receive an answer.
                </p>
                <p>
                    I can't wait to read your messages! Use the button below to send them.
                </p>
                <p>
                    <button data-tf-popup="hjRSYP0s" class="button">
                        Ask a question
                    </button>
                    <script src="//embed.typeform.com/next/embed.js"></script>
                </p>
                {{ else }}
                <p>
                    Join our premium members and get VIP answers to your questions!
                </p>
                <p class="actions">
                    <a class='button highlighted' href='javascript:' data-members-plan='Monthly'>
                        Become a member!
                    </a>
                </p>
                {{/if}}
            </div>
            <div>
                <h2>{{@site.title}}'s community</h2>
                <p>
                    Meet our community on our Discord server.
                    Talk, share and learn with other awesome members!
                </p>
                {{#if @member.paid}}
                <p class="actions">
                    <a class='button discord' href='https://community.mindsers.blog/'>
                        Join the discord server!
                    </a>
                </p>
                <p>
                    As a premium member, you have access to special channels on the server,
                    like the #lounge. If you don't see those channels, please send me an email at
                    <a
                        href='mailto:hello@mindsers.blog'
                        title='Contact support team'
                        rel='nofollow noreferrer'
                    >hello@mindsers.blog</a> with your Discord username
                    and I'll give you the correct rights.
                </p>
                {{ else }}
                <p class="actions">
                    <a class='discord' href='https://community.mindsers.blog/'>
                        Join the discord server!
                    </a>
                </p>
                <p>
                    Join our premium members and get full access to the Discord server! Including the VIP #lounge, etc.
                </p>
                <p class="actions">
                    <a class='button highlighted' href='javascript:' data-members-plan='Monthly'>
                        Get your reward!
                    </a>
                </p>
                {{/if}}
            </div>
            <div>
                <h2>Mindsers' Newsletter</h2>
                {{#if @member.paid}}
                <p>
                    Since you're a premium member, you have access to all the newsletter archive.
                </p>
                <p>
                    Check your inbox, you'll receive the next issues directly there!
                </p>
                <p class="actions">
                    <a class='button' href='/issues/'>
                        Read the previous newsletter issues
                    </a>
                </p>
                {{else}}
                <p>
                    Join our premium members and get full access to the premium newsletter.
                </p>
                <p class="actions">
                    <a class='button highlighted' href='javascript:' data-members-plan='Monthly'>
                        Join the community!
                    </a>
                </p>
                {{/if}}
            </div>
            <div>
                <h2>Exclusive content</h2>
                {{#if @member.paid}}
                <p>
                    Here is a list of exclusive contents for you. Thanks for being a premium member!
                </p>
                <p class="actions">
                    <a class='button' href='/membership/exclusive-content/'>
                        Access the content
                    </a>
                </p>
                {{else}}
                <p>
                    Join our premium members and get full access to the premium and exclusive content of {{@site.title}}.
                </p>
                <p class="actions">
                    <a class='button highlighted' href='javascript:' data-members-plan='Monthly'>
                        Subscribe now!
                    </a>
                </p>
                {{/if}}
            </div>
        </section>
    {{else}}
        {{! Not logged in: Redirect to signin }}
        <script>window.location = '{{@site.url}}/login/';</script>
    {{/if}}
    </div>
</div>