{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'meta'}}
    <meta name="robots" content="noindex" />
{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel='stylesheet' type='text/css' href='{{asset 'css/profile.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}Your Account - {{meta_title}}{{/contentFor}}

<div class='mds-profile'>
    <div class='mds-container'>
    {{#if @member}}
        {{! Logged in, not paying: Link to checkout }}
        <header class="mds-header">
            <div>
                <h1>Your profile</h1>
            {{#if member.paid}}
                <p>
                    Hello! You have an active {{@site.title}} account with full
                    access to all aeras and features. Get in touch if have any problems or
                    need some help getting things updated,
                    and thanks for subscribing.
                </p>
            {{else}}
                <p>
                    Hey!
                    You are subscribed to free updates from
                    {{@site.title}}, but doesn't have a premium membership to
                    unlock full access. Get in touch if have any problems or
                    need some help getting things updated,
                    and thanks for being part of the community.
                </p>
            {{/if}}
            </div>
            <div class="avatar">
                <a
                    href="https://gravatar.com/emails/"
                    title='Update your profile picture on Gravatar'
                    rel='nofollow noreferrer'
                >
                {{> "icons/profile"}}
                {{#if @member.avatar_image}}
                    <img src='{{@member.avatar_image}}' />
                {{/if}}
                    <span class="image-label">Update profile picture</span>
                </a>
            </div>
        </header>
        <section class="infos">
            <h2>Personal data</h2>
            <p><label>Name</label>: {{@member.name}}</p>
            <p><label>Email</label>: {{@member.email}}</p>
            {{#has label="french"}}
            french
            {{/has}}
            <a href="javascript:" data-members-edit-billing data-members-success="/profile/" data-members-cancel="/profile/">Edit billing info</a>
        </section>
        <section class="subscriptions">
            <h2>Subscriptions</h2>
        {{#foreach @member.subscriptions}}
            <div class="subscription">
                {{#if cancel_at_period_end}}
                <p class="summary">
                    <strong class="subscription-expiration-warning">Your subscription will expire on {{date current_period_end format="DD MMM YYYY"}}.</strong> If you change your mind in the mean time you can turn auto-renew back on to continue your subscription.
                </p>
                {{/if}}
                <div class="subscriber-details">
                    <div class="subscriber-detail">
                        <label class="subscriber-detail-label">Tier name</label>
                        <span class="subscriber-detail-content">{{tier.name}}</span>
                    </div>
                    <div class="subscriber-detail">
                        <label class="subscriber-detail-label">Price</label>
                        <span class="subscriber-detail-content">{{price plan}}/{{plan.interval}} <small>({{plan.nickname}})</small></span>
                    </div>
                    <div class="subscriber-detail">
                        <label class="subscriber-detail-label">Status</label>
                        <span class="subscriber-detail-content">{{status}}</span>
                    </div>
                    <div class="subscriber-detail">
                        <label class="subscriber-detail-label">Card</label>
                        <span class="subscriber-detail-content">**** **** **** {{default_payment_card_last4}}</span>
                    </div>
                    <div class="subscriber-detail">
                        <label class="subscriber-detail-label">
                        {{#if cancel_at_period_end}}
                            Expires
                        {{else}}
                            Next bill date
                        {{/if}}
                        </label>
                        <span class="subscriber-detail-content">{{date current_period_end format="DD MMM YYYY"}}</span>
                    </div>
                </div>
                <div class="actions">
                    {{#match status "active"}}
                        <a class="button" href="#/portal/account/plans">Change plan</a>
                        {{cancel_link class="button patreon subscription-cancel"}}
                    {{else match status "canceled"}}
                        <a class="button" href="/membership/">Why subscribe?</a>
                        <a class="button highlighted" href="#/portal/account/plans">Change plan</a>
                    {{else}}
                        <a class="button highlighted" href="#/portal/account/plans">Update my subscription</a>
                    {{/match}}
                </div>
            </div>
            {{#if @last}}
            <p class="notices">
                If you have any issue with your subscription, please contact us via email at <a
                        href='mailto:hello@mindsers.blog'
                        title='Contact support team'
                        rel='nofollow noreferrer'
                    >hello@mindsers.blog</a>.
            </p>
            {{/if}}
        {{else}}
            <div class="fallback">
                <p>No subscription can be found for your account.</p>
                <p>
                    Join our premium members and get full access to private posts,
                    a monthly newsletter and an awesome community of coders and
                    entrepreneurs!
                </p>
                <a  href='/membership/'>See plans</a>&nbsp; &nbsp;
                <a
                    class='button highlighted'
                    href='javascript:'
                    data-portal="signup/monthly"
                    data-members-cancel="/profile/"
                >
                    Subscribe now!
                </a>
            </div>
        {{/foreach}}
        </section>
        <section>
            <h2>Email preferences</h2>
            <a href="#/portal/account/newsletters">Change your email preferences</a> (email language, notifications, etc.)
        </section>
        <hr class="section-separator"/>
        <section>
            <h2 id="perks">All the perks from {{#if @member.paid}}your{{else}}the{{/if}} subscription:</h2>
        </section>
        <section class="profile-grid">
            <div>
                <h2>Weekly Digest</h2>
                <p>
                    Check you inbox on Sundays, you'll receive a summary of the week by {{@site.title}}'s team.
                </p>
                <p>
                    You'll find in it the last blog posts published plus other must-reads.
                </p>
                <p>
                    <span class='unlocked-feature'>
                        Weekly Digest emails: Unlocked.
                    </span>
                </p>
                <p class="actions">
                    <a
                        class='button'
                        href='#/portal/account/newsletters'
                    >
                        Change email preferences
                    </a>
                </p>
            </div>
            <div>
                <h2>Full blog posts directly in your inbox</h2>
                {{#if @member.paid}}
                    {{#foreach @member.subscriptions}}
                    {{#match status "active"}}
                        {{^match tier.id @custom.newsletter_tier_id}}
                            <p>
                                Some of our blog posts are only accessible by premium members. It is high quality content for modern developers.
                            </p>
                            <p>
                                <span class='unlocked-feature'>
                                    Full posts by email: Unlocked.
                                </span>
                            </p>
                            <p class="actions">
                                <a
                                    class='button'
                                    href='#/portal/account/newsletters'
                                >
                                    Change email preferences
                                </a>
                            </p>
                        {{else}}
                            <p>Your current plan doesn't allow you to receive the posts by emails.</p>
                            <p>
                                Change plan today to enjoy this feature.
                            </p>
                            <p class="actions">
                                <a
                                    class='button highlighted'
                                    href='/membership/'
                                >
                                    Change plan now!
                                </a>
                            </p>
                        {{/match}}
                    {{/match}}
                    {{/foreach}}
                {{else}}
                <p>
                    Join our premium members today and receive the full blog post directly into your inbox when it gets published.
                </p>
                <p>No need to wait on Sundays to know about new posts anymore.</p>
                <p class="actions">
                    <a
                        class='button highlighted'
                        href='/membership/'
                    >
                        Subscribe now!
                    </a>
                </p>
                {{/if}}
            </div>
            <div>
                <h2>Premium blog posts</h2>
                {{#if @member.paid}}
                    {{#foreach @member.subscriptions}}
                    {{#match status "active"}}
                        {{^match tier.id @custom.newsletter_tier_id}}
                            <p>
                                Some of our blog posts are only accessible by premium members. It is high quality content for modern developers.
                            </p>
                            <p>
                                <span class='unlocked-feature'>
                                    Premium posts: Unlocked.
                                </span>
                            </p>
                            <p class="actions">
                                <a class='button' href='/membership/posts/'>
                                    Browse the premium blog posts library
                                </a>
                            </p>
                        {{else}}
                            <p>Your current plan doesn't allow you to access premium posts.</p>
                            <p>
                                Change plan today and get full access to the premium blog posts of {{@site.title}}.
                            </p>
                            <p class="actions">
                                <a
                                    class='button highlighted'
                                    href='/membership/'
                                >
                                    Change plan now!
                                </a>
                            </p>
                        {{/match}}
                    {{/match}}
                    {{/foreach}}
                {{else}}
                <p>
                    Join our premium members today and get full access to the premium blog posts of {{@site.title}}.
                </p>
                <p class="actions">
                    <a
                        class='button highlighted'
                        href='/membership/'
                    >
                        Read more posts!
                    </a>
                </p>
                {{/if}}
            </div>
            <div>
                <h2>Premium additional contents</h2>
                <p>
                    Some of the free blog posts contain additional content as cheatsheet, codesource of the exemples, etc. only accessible by premium members.
                </p>
                {{#if @member.paid}}
                    {{#foreach @member.subscriptions}}
                    {{#match status "active"}}
                        {{^match tier.id @custom.newsletter_tier_id}}
                            <p>
                                <span class='unlocked-feature'>
                                    Additional contents: Unlocked.
                                </span>
                            </p>
                            <p class="actions">
                                <a
                                    class='button'
                                    href='/membership/additional-contents/'
                                >
                                    Browse posts with additional content!
                                </a>
                            </p>
                        {{else}}
                            <p>Your current plan doesn't allow you to access additional contents.</p>
                            <p class="actions">
                                <a
                                    class='button highlighted'
                                    href='/membership/'
                                >
                                    Change plan now!
                                </a>
                            </p>
                        {{/match}}
                    {{/match}}
                    {{/foreach}}
                {{ else }}
                <p class="actions">
                    <a
                        class='button highlighted'
                        href='/membership/'
                    >
                        Get more content!
                    </a>
                </p>
                {{/if}}
            </div>
            <div>
                <h2>Comments section</h2>
                <p>
                    Share your thoughts, discuss and debate with other member of the community right below the blog posts.
                </p>
                {{#if @member.paid}}
                    {{#foreach @member.subscriptions}}
                    {{#match status "active"}}
                        {{^match tier.id @custom.newsletter_tier_id}}
                            <p class="actions">
                                <span class='unlocked-feature'>
                                    Comments section: Unlocked.
                                </span>
                            </p>
                        {{else}}
                            <p>Your current plan doesn't allow you to write and read comments on <strong>{{@site.title}}</strong>'s posts.</p>
                            <p class="actions">
                                <a
                                    class='button highlighted'
                                    href='/membership/'
                                >
                                    Change plan now!
                                </a>
                            </p>
                        {{/match}}
                    {{/match}}
                    {{/foreach}}
                {{ else }}
                <p class="actions">
                    <a
                        class='button highlighted'
                        href='/membership/'
                    >
                        Get access to comments!
                    </a>
                </p>
                {{/if}}
            </div>
            <div>
                <h2>Discounts on the shop</h2>
                <p>
                    Mindsers Shop offers learning resources like books and cheatsheets, and merch products.
                </p>
                {{#if @member.paid}}
                    {{#foreach @member.subscriptions}}
                    {{#match status "active"}}
                        {{^match tier.id @custom.newsletter_tier_id}}
                            {{#match tier.id @custom.blog_tier_id}}
                            <p>
                                As a Premium member, you have 5% discount off every merch product.
                                Use the <code>MBPREMIUM</code> at checkout or hit the apply button below.
                                Next level is 10% discount off all the products of the shop.
                            </p>
                            <p>
                                <span class='unlocked-feature'>
                                    Discounts on merch: Unlocked.
                                </span>
                            </p>
                            <p class="actions">
                                <a
                                    class='button highlighted'
                                    href='/membership/'
                                >
                                    Upgrade to get more!
                                </a>
                                <a
                                    class='button'
                                    href='https://mindsers.shop/discount/MBPREMIUM?redirect=%2Fcollections%2Fmerchandising'
                                >
                                    Apply the 5% discount
                                </a>
                            </p>
                            {{else}}
                            <p>
                                As a Pro member, you have 10% discount off everything on the shop.
                                Use the <code>MBPRO</code> at checkout or hit the apply button below.
                            </p>
                            <p>
                                <span class='unlocked-feature'>
                                    Discounts off everything: Unlocked.
                                </span>
                            </p>
                            <p class="actions">
                                <a
                                    class='button'
                                    href='https://mindsers.shop/discount/MBPRO'
                                >
                                    Apply the 10% discount
                                </a>
                            </p>
                            {{/match}}
                        {{else}}
                            <p>Your current plan doesn't allow you to access members' discounts.</p>
                            <p class="actions">
                                <a
                                    class='button'
                                    href='https://mindsers.shop/'
                                >
                                    Browse the products
                                </a>
                                <a
                                    class='button highlighted'
                                    href='/membership/'
                                >
                                    Change plan now!
                                </a>
                            </p>
                        {{/match}}
                    {{/match}}
                    {{/foreach}}
                {{ else }}
                <p class="actions">
                    <a
                        class='button'
                        href='https://mindsers.shop/'
                    >
                        Browse the products
                    </a>
                    <a
                        class='button highlighted'
                        href='/membership/'
                    >
                        Get discounts!
                    </a>
                </p>
                {{/if}}
            </div>
        </section>
    {{else}}
        {{! Not logged in: Redirect to signin }}
        <script>window.location = '{{@site.url}}/login/';</script>
    {{/if}}
    </div>
</div>