{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'meta'}}
    <meta name="robots" content="noindex" />
{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel='stylesheet' type='text/css' href='{{asset 'css/profile.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}Your Account - {{meta_title}}{{/contentFor}}

<div class='mds-profile'>
    <div class='mds-container'>
    {{#if @member}}
        {{! Logged in, not paying: Link to checkout }}
        <header class="mds-header">
            <div>
                <h1>Your profile</h1>
            {{#if member.paid}}
                <p>
                    Hello! You have an active {{@site.title}} account with full
                    access to all aeras and features. Get in touch if have any problems or
                    need some help getting things updated,
                    and thanks for subscribing.
                </p>
            {{else}}
                <p>
                    Hey!
                    You are subscribed to free updates from
                    {{@site.title}}, but doesn't have a premium membership to
                    unlock full access. Get in touch if have any problems or
                    need some help getting things updated,
                    and thanks for being part of the community.
                </p>
            {{/if}}
            </div>
            <div class="avatar">
                <a
                    href="https://gravatar.com/emails/"
                    title='Update your profile picture on Gravatar'
                    rel='nofollow noreferrer'
                >
                {{> "icons/profile"}}
                {{#if @member.avatar_image}}
                    <img src='{{@member.avatar_image}}' />
                {{/if}}
                    <span class="image-label">Update profile picture</span>
                </a>
            </div>
        </header>
        <section class="infos">
            <h2>Personal data</h2>
            <p><label>Name</label>: {{@member.name}}</p>
            <p><label>Email</label>: {{@member.email}}</p>
            {{#has label="french"}}
            french
            {{/has}}
            <a href="javascript:" data-members-edit-billing data-members-success="/profile/" data-members-cancel="/profile/">Edit billing info</a>
        </section>
        <section class="subscriptions">
            <h2>Subscriptions</h2>
        {{#foreach @member.subscriptions}}
            <div class="subscription">
                {{#if cancel_at_period_end}}
                <p class="summary">
                    <strong class="subscription-expiration-warning">Your subscription will expire on {{date current_period_end format="DD MMM YYYY"}}.</strong> If you change your mind in the mean time you can turn auto-renew back on to continue your subscription.
                </p>
                {{/if}}
                <div class="subscriber-details">
                    <div class="subscriber-detail">
                        <label class="subscriber-detail-label">Your plan</label>
                        <span class="subscriber-detail-content">{{plan.nickname}}</span>
                    </div>
                    <div class="subscriber-detail">
                        <label class="subscriber-detail-label">Price</label>
                        <span class="subscriber-detail-content">{{price plan}}/{{plan.interval}}</span>
                    </div>
                    <div class="subscriber-detail">
                        <label class="subscriber-detail-label">Status</label>
                        <span class="subscriber-detail-content">{{status}}</span>
                    </div>
                    <div class="subscriber-detail">
                        <label class="subscriber-detail-label">Card</label>
                        <span class="subscriber-detail-content">**** **** **** {{default_payment_card_last4}}</span>
                    </div>
                    <div class="subscriber-detail">
                        <label class="subscriber-detail-label">
                        {{#if cancel_at_period_end}}
                            Expires
                        {{else}}
                            Next bill date
                        {{/if}}
                        </label>
                        <span class="subscriber-detail-content">{{date current_period_end format="DD MMM YYYY"}}</span>
                    </div>
                </div>
                <div class="actions">
                    {{#match status "active"}}
                        {{#match plan.amount "!=" 0}}
                        <a class="button" href="#/portal/account/plans">Change plan</a>
                        {{/match}}
                        {{cancel_link class="button patreon subscription-cancel"}}
                    {{else match status "canceled"}}
                        <a class="button" href="/membership/">Why subscribe?</a>
                        <a class="button highlighted" href="#/portal/account/plans">Change plan</a>
                    {{else}}
                        <a class="button highlighted" href="#/portal/account/plans">Update my subscription</a>
                    {{/match}}
                </div>
            </div>
            <p class="notices">
                To change plan from a complementary plan, you have to cancel first your current plan and then visit our <a href="/membership/">Membership page</a>.<br/>
                If you have any issue with your subscription, please contact us via email at <a
                        href='mailto:hello@mindsers.blog'
                        title='Contact support team'
                        rel='nofollow noreferrer'
                    >hello@mindsers.blog</a>.
            </p>
        {{else}}
            <div class="fallback">
                <p>No subscription can be found for your account.</p>
                <p>
                    Join our premium members and get full access to private posts,
                    a monthly newsletter and an awesome community of coders and
                    entrepreneurs!
                </p>
                <a  href='/membership/'>See plans</a>&nbsp; &nbsp;
                <a
                    class='button highlighted'
                    href='javascript:'
                    data-portal="signup/monthly"
                    data-members-cancel="/profile/"
                >
                    Subscribe now!
                </a>
            </div>
        {{/foreach}}
        </section>
        <section>
            <h2>Email preferences</h2>
            <a href="#/portal/account/newsletters">Change your email preferences</a> (email language, notifications, etc.)
        </section>
        <hr class="section-separator"/>
        <section>
            <h2>All the perks from {{#if @member.paid}}your{{else}}the{{/if}} subscription:</h2>
        </section>
        <section class="profile-grid">
            <div>
                <h2>Premium additional content</h2>
                <p>
                    Some of the free blog posts contain additional content as cheatsheet, codesource of the exemples, etc. only accessible by premium members.
                </p>
                {{#if @member.paid}}
                <p class="actions">
                    <a
                        class='button'
                        href='/membership/additional-contents/'
                    >
                        Browse posts with additional content!
                    </a>
                </p>
                {{ else }}
                <p class="actions">
                    <a
                        class='button highlighted'
                        href='/membership/'
                    >
                        Get more content!
                    </a>
                </p>
                {{/if}}
            </div>
            <div>
                <h2>{{@site.title}}'s Private Club</h2>
                {{#if @member.paid}}
                <p>
                    Meet the community on our Discord server.
                    Talk, share and learn with other awesome members!
                </p>
                <p class="actions">
                    <a class='button discord' href='https://community.mindsers.blog/'>
                        Join the discord server!
                    </a>
                </p>
                <p class="notices">
                    "Friend of Mindsers Blog" members have access to special channels on the server,
                    like the #lounge. If you don't see those channels, please send me an email at
                    <a
                        href='mailto:hello@mindsers.blog'
                        title='Contact support team'
                        rel='nofollow noreferrer'
                    >hello@mindsers.blog</a> with your Discord username
                    and I'll give you the correct rights.
                </p>
                {{ else }}
                <p>
                    The premium membership gives access to the Discord server. Talk, share and learn with other awesome members!
                </p>
                <p class="actions">
                    <a
                        class='button highlighted'
                        href='/membership/'
                    >
                        Join the club!
                    </a>
                </p>
                {{/if}}
            </div>
            <div>
                <h2>{{@site.title}} Insider</h2>
                {{#if @member.paid}}
                <p>
                    Check your inbox, you'll receive the next issues directly there!
                </p>
                <p>We'll share with you news and stats about the blog,
                    tips for coders, our favorite links of the month and more!</p>
                <p class="actions">
                    <a class='button' href='/issues/'>
                        Read the previous newsletter issues
                    </a>
                </p>
                {{else}}
                <p>
                    Want to get more from {{@site.title}}? Subscribe to our insider newsletter! We share news and stats about the blog,
                    tips for coders, our favorite links of the month and more!
                </p>
                <p class="actions">
                    <a
                        class='button highlighted'
                        href='/membership/'
                    >
                        Fill your inbox and your reading list!
                    </a>
                    <br/>
                    <a
                        class='button'
                        href='/newsletter/'
                    >
                        Save with a newsletter only plan
                    </a>
                </p>
                {{/if}}
            </div>
            <div>
                <h2>Premium blog posts</h2>
                {{#if @member.paid}}
                <p>
                    Some of our blog posts are only accessible by premium members. It is high quality content for modern developers.
                </p>
                <p class="actions">
                    <a class='button' href='/membership/posts/'>
                        Browse the premium blog posts
                    </a>
                </p>
                {{else}}
                <p>
                    Join our premium members today and get full access to the premium blog posts of {{@site.title}}.
                </p>
                <p class="actions">
                    <a
                        class='button highlighted'
                        href='/membership/'
                    >
                        Subscribe now!
                    </a>
                </p>
                {{/if}}
            </div>
        </section>
    {{else}}
        {{! Not logged in: Redirect to signin }}
        <script>window.location = '{{@site.url}}/login/';</script>
    {{/if}}
    </div>
</div>