{{!< default}}

<section class="subscribe">
    <div class="subscribe-content">
    {{#if success}}
        <header class="subscribe-header">
            <h1>Subscribed!</h1>
        </header>

        <p>
            You've successfully subscribed to <em>{{@blog.title}}</em>
            with the email address <em>{{email}}</em>.
        </p>
    {{else}}
        <header class="subscribe-header">
            <h1>Subscribe to {{@blog.title}}</h1>
        </header>

        {{subscribe_form autofocus="true" placeholder="Your email address"}}
    {{/if}}
    </div>
</section>

{{#contentFor "styles"}}
    <link rel="stylesheet" href="{{asset "css/subscribe.css"}}">
{{/contentFor}}
