{{!< default}}

<section class="subscribe">
    <div class="subscribe-content">
    {{#if success}}
        <header class="subscribe-header">
            <h1>{{t "Subscribed!"}}</h1>
        </header>

        <p>
            {{t "You've successfully subscribed to <em>{blogtitle}</em> with the email address <em>{email}</em>" email=email blogtitle=@blog.title}}.
        </p>
    {{else}}
        <header class="subscribe-header">
            <h1>{{t "Subscribe to {blogtitle}", blogtitle=@blog.title}}</h1>
        </header>

        {{subscribe_form autofocus="true" placeholder=(t "Your email address")}}
    {{/if}}
    </div>
</section>

{{#contentFor "styles"}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/subscribe.css"}}">
{{/contentFor}}
