{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel="stylesheet" type="text/css"  href="{{asset "css/pagination.css"}}" />
{{/contentFor}}

{{#contentFor 'title'}}Finance for coders - Stories and tutorials for all kind of coders - {{@site.title}}{{/contentFor}}

<div class="mds-page">
    <div class="mds-container">
        {{#tag}}
        <header class="mds-header">
            <h1 class="mds-title">Finance for coders</h1>
            <p>
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </p>
        </header>
        {{/tag}}

        <div class="mds-postfeed">
        {{#foreach posts}}
            {{> "card"}}
        {{/foreach}}
        </div>

        {{pagination}}
    </div>
</div>