{{!< default}}

<link rel="stylesheet" type="text/css"  href="{{asset "css/pagination.css"}}" />

<div class="mds-page">
    <div class="mds-container">
        {{#tag}}
        <header class="mds-header">
            <h1 class="mds-title">{{name}}</h1>
            <p>
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </p>
        </header>
        {{/tag}}

        <div class="mds-postfeed">
        {{#foreach posts}}
            {{> "card"}}
        {{/foreach}}
        </div>

        {{pagination}}
    </div>
</div>