{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'meta'}}
    <meta name="robots" content="noindex, nofollow">
{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel='stylesheet' type='text/css' href='{{asset 'css/welcome.css'}}' />
{{/contentFor}}

{{#contentFor 'title'}}Welcome!! - {{meta_title}}{{/contentFor}}

<div class='mds-welcome'>
    <div class='mds-container'>
        {{#if @member}}
            {{! Logged in, not paying: Link to checkout }}
            <header class='mds-header'>
                <div>
                    <h1>Welcome in the community!</h1>
                </div>
            </header>

            <section class='mds-welcome-content'>
                {{> "images/community"}}
                <p class='mds-welcome-description'>
                    I'm really happy to see you join our little community of developers
                    and entrepreneurs learning together. You will now receive a
                    notification email each week with the new content as promised.
                </p>
                <p class='mds-welcome-description'>
                    Please note that, by default, you will receive all the emails in English.
                    If you prefer to switch to French, check your profile page or <a href="#/portal/account/newsletters">click here</a> direclty.
                </p>
                <p class='mds-welcome-description'>
                    Also, if you like the content here or have any idea to improve the blog
                    <strong>can you please send me your feedbacks?</strong>(Use <a
                            href='mailto:hello@mindsers.blog'
                            title='Contact support team'
                            rel='nofollow noreferrer'
                        >hello@mindsers.blog</a>) I would love to read them!
                </p>
                <p class='mds-welcome-link'>
                    <a class='button' href='/profile/'>
                        Visit your profile
                    </a>
                    <a class='button highlighted' href='/membership/'>
                        Upgrade for more content!
                    </a>
                </p>

            </section>

        {{else}}
            {{! Not logged in: Redirect to signin }}
            <script>window.location = '{{@site.url}}/login/';</script>
        {{/if}}
    </div>
</div>