<div class='upgrade-cta' lang='fr'>
    {{#has visibility='public'}}
        <h2>
            Cet article est réservé abonneés de la newsletter
        </h2>
        <p>
            Rejoignez les
            {{total_members}}
            développeurs membres de notre communauté et accédez au contenu
            réservées aux abonnés de la newsletter.
        </p>

        <a href='/signup/' class='button'>S'inscrire à la newsletter</a>
    {{else}}
        {{#has tag='#additional-content'}}
            <h2>
                Cet article gratuit contient du contenu supplémentaire pour les
                membres
                {{#has visibility='tiers'}}
                    du Mindsers Club
                {{else}}
                    premuim
                {{/has}}
            </h2>
        {{else}}
            <h2>
                {{#has tag='#issue'}}
                    Ce numéro de newsletter
                {{else}}
                    Cet article génial
                {{/has}}
                est réservé aux membres
                {{#has visibility='tiers'}}
                    du Mindsers Club
                {{else}}
                    premium
                {{/has}}
            </h2>
        {{/has}}
        <p>
            Rejoins les
            {{total_members}}
            développeurs membres du club, et obtiens un accès complet à notre
            contenu. Tu pourras aussi lire en avant première tous les nouveaux
            articles !
        </p>

        {{#has visibility='tiers'}}
            <a href='/membership/' class='button'>Je rejoins le Mindsers Club !</a>
        {{else}}
            {{#has tag='#issue'}}
                <a href='/newsletter/' class='plan-link'>Voir les abonnements à
                    la newsletter</a>
            {{else}}
                <a href='/membership/' class='plan-link'>Voir les autres
                    abonnements</a>
            {{/has}}

            <a href='javascript:' data-portal='signup/monthly' class='button'>
                S'abonnez maintenant!
            </a>
        {{/has}}
    {{/has}}

    <p class='switch'>
        Déjà membre?
        <a href='/login/'>Se connecter</a>
    </p>
</div>