<nav class='pagination' role='navigation' aria-label='Pagination'>
    <div>
        <a class='pagination-link {{#unless prev}}disabled{{/unless}}' href='{{page_url 1}}' title="Première page">&laquo; Prem.</a>
        <a class='pagination-link {{#unless prev}}disabled{{/unless}}' href='{{page_url prev}}' title="Page précédente">&lsaquo; Préc.</a>
    </div>
    <span class='page-number'>{{page}} / {{pages}}</span>
    <div>
        <a class='pagination-link {{#unless next}}disabled{{/unless}}' href='{{page_url next}}' title="Page suivante">Suiv. &rsaquo;</a>
        <a class='pagination-link {{#unless next}}disabled{{/unless}}' href='{{page_url pages}}' title="Dérnière page">Dern. &raquo;</a>
    </div>
</nav>
