{{#contentFor 'title'}}Revue de café pour les codeurs en télétravail - {{meta_title}}{{/contentFor}}

{{#contentFor 'meta'}}
    <link rel="alternate" type="application/rss+xml" title="Mindsers Blog - All coffeshop reviews in French" href="{{@site.url}}/fr/reviews/rss/">
{{/contentFor}}

<div class="mds-page">
    <div class="mds-container">
        <header class="mds-header">
            <h1 class="mds-title">
                Tests de cafés pour télétravailleurs
                <a class="icon" href="{{@site.url}}/fr/reviews/rss/" title="Abonne toi à nos revues de café avec ton lecteur RSS">{{> "icons/rss"}}</a>
            </h1>
            <p>
                En tant que développeurs full remote, je travaille parfois dans des cafés. J'adore ça mais j'ai remarqué que la qualité de l'environnement de travail est très variable d'un café à l'autre. J'ai donc décidé d'écrire des critiques sur les cafés dans lesquels j'ai déjà travaillé.
            </p>
            <p>
                <a class="button" href="/reviews/">Lire les revues en anglais</a>
            </p>
        </header>

        <div class="mds-postfeed">
        {{#foreach posts}}
            {{> "card"}}
        {{else}}
                <p class="no-post">Aucune revue disponible</p>
        {{/foreach}}
        </div>

        {{pagination}}
    </div>
</div>