<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Source+Code+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

    {{{block "styles"}}}

    {{ghost_head}}
</head>
<body class="{{body_class}} line-numbers">
    <div class="site-wrapper">
        <header class="site-header outer">
            <div class="site-header-content inner">
                <div class="title">
                    <a href="https://nathanaelcherrier.com/fr/">
                        <img src="{{@site.logo}}" class="logo" alt="MindsersIT logo">
                        Nathanaël Cherrier
                    </a>
                </div>
                <div class="menu">
                    <ul class="nav" role="menu">
                        <li role="menuitem"><a href="https://blog.nathanaelcherrier.com/fr/">{{t "Blog"}}</a></li>
                        <li role="menuitem"><a href="https://nathanaelcherrier.com/fr/resume">{{t "CV" }}</a></li>
                        <li role="menuitem"><a href="https://community.nathanaelcherrier.com/">{{t "Forum" }}</a></li>
                        <li role="menuitem"><a href="https://nathanaelcherrier.com/fr/contact">{{t "Me contacter" }}</a></li>
                    </ul>
                </div>
            </div>
        </header>

        {{{body}}}

        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <nav class="items">
                    <div class="item">
                        <h2>{{t "Itunes Store"}}</h2>
                        <ul>
                            <li><a href="https://itunes.apple.com/fr/app/european-converter/id824107489?mt=8" rel="nofollow">European Converter</a></li>
                            <li><a href="https://itunes.apple.com/fr/app/checkyourvat/id862501089?mt=8" rel="nofollow">CheckyourVAT</a></li>
                            <li><a href="https://itunes.apple.com/fr/app/flight-companion/id890826910?mt=8" rel="nofollow">Flight Companion</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <h2>{{t "Open Sources"}}</h2>
                        <ul>
                            <li><a href="https://github.com/mindsers/configfile" rel="nofollow">Configfile</a></li>
                            <li><a href="https://github.com/mindsers/yabf" rel="nofollow">Yabf</a></li>
                            <li><a href="https://github.com/mindsers/nativetable" rel="nofollow">Nativetable</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <h2>{{t "Social"}}</h2>
                        <ul>
                            <li><a href="https://www.instagram.com/mindsers.it/" rel="nofollow">Instagram</a></li>
                            <li><a href="https://twitter.com/MindsersIT" rel="nofollow">Twitter</a></li>
                            <li><a href="https://www.facebook.com/MindsersIT" rel="nofollow">Facebook</a></li>
                            <li><a href="https://github.com/Mindsers" rel="nofollow">Github</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <h2>{{t "Support"}}</h2>
                        <ul>
                            <li>Bitcoin: <span class="coin-address">3N7iAYWKz5rqdtbYJ4r1SRJHq9sEQbXHDk</span></li>
                            <li>Ethereum: <span class="coin-address">0x30B42B1487262fE55aD8CDF046342AB6bF4d4e73</span></li>
                            <li>Ripple: <span class="coin-address">rUwDYme9YMzNo8ufvgKE7VET1QgbKgJuGT</span></li>
                            <li>Litecoin: <span class="coin-address">MU47RMv5KGHiBU8Kw5PNPbn3cyFLjmQXPt</span></li>
                        </ul>
                    </div>
                </nav>
                <section class="copyright">
                    &copy;2014 <a href="https://nathanaelcherrier.com/fr/">Nathanaël Cherrier</a>. {{t "All right reserved."}}<br>
                    <a href="https://nathanaelcherrier.com/fr/legal">Mentions Légales</a>
                </section>
            </div>
        </footer>
    </div>

    {{{block "scripts"}}}

    {{ghost_foot}}
</body>
</html>
